# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite databases
db.sqlite3
*.sqlite3

# Virtual Environments
venv/
.venv/

# Environment variables
.env
.env.*

# Django stuff
*.log
local_settings.py

*.jpg

backend/media

backlog.txt